$primary:       #70BC1E !default;
$secondary:     #417C02 !default;
$success:       #90E138 !default;
$info:          #E7C73F !default;
$warning:       #FFA820 !default;
$danger:        #670014 !default;
$light:         #A9FD4E !default;
$dark:          #254601 !default;


/*$grass:    #70BC1E !default;
$olive:  #417C02 !default;
$avocadoskin:  #254601 !default;
$lightergreen:    #A9FD4E !default;
$avocadoinside:     #90E138 !default;
$moss: #E7C73F !default;
$sunset:  #FFA820 !default;
$burgundy: #670014 !default;
*/